# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""
OEROOT := "${@os.path.abspath(os.path.dirname(d.getVar('FILE')) + '/../..')}"

BBLAYERS ?= " \
    ${OEROOT}/sources/poky/meta \
    ${OEROOT}/sources/poky/meta-poky \
    ${OEROOT}/sources/poky/meta-yocto-bsp \
    \
    ${OEROOT}/sources/meta-openembedded/meta-oe \
    ${OEROOT}/sources/meta-openembedded/meta-multimedia \
    ${OEROOT}/sources/meta-openembedded/meta-networking \
    ${OEROOT}/sources/meta-openembedded/meta-python \
    \
    ${OEROOT}/sources/meta-raspberrypi \
    \
    ${OEROOT}/sources/meta-tmoore3-raspberrypi \
    ${OEROOT}/sources/meta-tmoore3 \
"
